@font-face
{
    src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
    font-family: Outfit;
}

@font-face
{
    src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf);
    font-family: Young-Serif;
}

body
{
    background-color: hsl(30, 54%, 90%);
    margin: 0;
    font-family: Outfit;
    line-height: 1.5;
}

hr
{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0; 
    border-top: 1px solid hsl(30, 18%, 87%);
}

html
{
    font-size: 11px;
}

@media (min-width: 349px)
{
    html
    {
        font-size: 13px;
    }
}

@media (min-width: 401px)
{
    html
    {
        font-size: 16px;
    }
}

@media (min-width: 479px)
{
    html
    {
        font-size: 20px;
    }
}

@media (min-width: 581px)
{
    html
    {
        font-size: 28px;
    }
}

@media (min-width: 768px)
{

    body
    {
        margin: 5vw;
    }

    .container
    {
        border-radius: 15px;
        max-width: 768px;
    }

    .image-container
    {
        padding-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .recipe-image
    {
        border-radius: 15px;
    }
}

@media (min-width: 1280px)
{
    html
    {
        font-size: 22px;
    }

    body
    {
        margin-top: 10vh;
        margin-left: 30vw;
        margin-right: 30vw;
    }

    .container
    {
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
        padding-top: 30px;
        max-width: 1280px;
        margin-right: auto;
        margin-left: auto;
    }
}



.recipe-name
{
    margin-top: 0;
    font-family: Young-Serif;
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 1;
    color: hsl(24, 5%, 18%);
}

.container
{
    background-color: hsl(0, 0%, 100%);
    width: 100%;
}


.recipe-image
{
    width: 100%;
}

.wrapper
{
    padding: 32px;
}

.recipe-description
{
    font-size: 1rem;
    line-height: 1.5;
    color: hsl(30, 10%, 34%);
}

.preparation-time
{
    background-color: hsl(330, 100%, 98%);
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 1.8rem;
    padding-right: 3rem;
    border-radius: 15px;
}

.preparation-time h3
{
    margin-bottom: 10px;
    color: hsl(332, 51%, 32%);
}

.list li
{
    padding-left: 20px;
    color: hsl(30, 10%, 34%);
    margin-bottom: 10px;
}

#preparation-list li::marker
{
    color: hsl(332, 51%, 32%);
}

#preparation-list li span
{
    font-weight: 700;
}

.category-text
{
    font-family: Young-Serif;
    font-weight: 500;
    font-size: 1.8rem;
    color: hsl(14, 45%, 36%);
}

#ingredient-list li::marker
{
    color: hsl(14, 45%, 36%);
}

#ingredient-list li span
{
    font-weight: 700;
}

.nutrition-description
{
    font-size: 1rem;
    line-height: 1.5;
    color: hsl(30, 10%, 34%);
    text-wrap: pretty;
}

.flex-container
{
    display: flex;
}

.nutrition-text
{
    width: 15rem;
    text-align: start;
    margin-left: 3rem;
}

#nutritional-type
{
    color: hsl(30, 10%, 34%);
}

#nutritional-value
{
    color: hsl(14, 45%, 36%);
    font-weight: 700;
}